accelerate==1.12.0
bitsandbytes==0.49.0
datasets==2.18.0
huggingface-hub==0.36.0
pandas==2.3.3
python-dotenv==1.2.1
scikit-learn==1.8.0
# Run pip install torch==2.6.0+cu124 --index-url https://download.pytorch.org/whl/cu124 for CUDA 12.4
torch>=2.6.0
transformers==4.57.3
sentencepiece==0.2.1
protobuf==6.33.2